{% extends "layout.html" %}

{% block head %}
    <title> {{ table.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ site.description|e }}">
    <meta name="author" content="">
{% endblock %}



{% block body %}
<div class="ui text container">
	<div class="ui huge header">
		{{ message }}
	</div>
	<div class="ui error message">
		{% if error %}
		<h4> {{ name }}</h4>
		<pre>{{ error.stack.split('\n').slice(1).join('\n') }}</pre>
		{% endif %}
	</div>
</div>
{% endblock %}

