{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
	<div class="container">
		<h1>ARK registry</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in finibus ligula, in varius tellus. Quisque eget lectus quis nisi ultricies rhoncus. Nulla fermentum tortor id vestibulum efficitur. Sed eget lacinia lectus, ac euismod tellus. Pellentesque tempor arcu vitae turpis pellentesque malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus ornare fringilla. Donec blandit augue nec leo dictum, a egestas felis ullamcorper. Sed sed tristique tellus.
		</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#modal-generate">Generate New ARK &raquo;</a></p>
	</div>
</div>

<div class="container">
	{{ component('metrics') }}
	{{ component('form-resolve') }}
	{{ component('modal-generate') }}
</div>


{% endblock %}



