@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Oswald);
body{
    padding: 50px 0;
}
.status {
    font-family: 'Source Sans Pro', sans-serif;
}
.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    padding-top: 20px;
    letter-spacing: -0.8px;
}
