<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="panel status panel-info">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          {{ config.NAAN|d('?') }}
        </h1>
      </div>
      <div class="panel-body text-center">
        <strong>NAAN</strong>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel status panel-warning">
      <div class="panel-heading">
        <h1 class="panel-title text-center" id="count-range-handle">
          [[ countRanges ]]
        </h1>
      </div>
      <div class="panel-body text-center">
        <strong>Range</strong>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel status panel-success">
      <div class="panel-heading">
        <h1 class="panel-title text-center" id="count-identifier-handle">
          [[ countIdentifiers ]]
        </h1>
      </div>
      <div class="panel-body text-center">
        <strong>Identifiers</strong>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel status panel-info">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          [[ countRanges ]]
        </h1>
      </div>
      <div class="panel-body text-center">
        <strong>Bundles</strong>
      </div>
    </div>
  </div>
</div>
