<div id="modal-generate" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<!-- see templates/select-range.html -->
				<form class="form-horizontal">
					<div class="form-group">
						<label for="modal-generate-input-range" class="col-sm-2 control-label">Range</label>
						<div class="col-sm-10" id="select-range-handle">
              <select class="form-control" id="modal-generate-input-range">
                <repeat each="[[ items ]]" as="i">
                <option> [[ i._wid ]] </option>
                </repeat>
              </select>
						</div>
					</div>
					<div class="form-group">
						<label for="modal-generate-input-size" class="col-sm-2 control-label">Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="modal-generate-input-size" placeholder="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="modal-generate-submit" class="btn btn-primary">Generate</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


